<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Helcim Inc. All rights reserved.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data">
        <observer name="helcim_api_data_assign" instance="Helcim\HelcimAPI\Observer\DataAssignObserver" />
    </event>
</config>
